:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.app-main-content {
  flex: 1;
  width: 100%;
  margin: 0;
  padding: 2rem 2rem 1rem;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
}

/* Table Styling - from home.css or users.css */
.table-custom th {
  color: #000000;
  background-color: #f0f0f0; /* Light grey header background */
  font-weight: 600;
  vertical-align: middle;
}